# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 환경변수
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# 배포
*.egg-info/
dist/
build/
